body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: #f4f5f6;
}

img {
  width: 100%;
}

h3,
img,
li,
.top-header p {
  cursor: pointer;
}

.full-container {
  margin: auto;
  max-width: 1310px;
  background-color: var(--white);
}

.top-header {
  padding: 20px 10px 10px 10px;
  background-color: #f72210;
}

.location {
  font-size: 15px;
}

.logo {
  fill: var(--white);
}

.top-header-right {
  font-size: 18px;
}

.top-header button {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #ffe400;
  border-radius: 24px;
}

@media screen and (min-width: 1024px) {
  nav::before {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    display: block;
    width: 66px;
    background-color: #f72210;
    border-left: 12px solid var(--white);
    border-top: 13px solid #f72210;
  }
}

.top-nav {
  margin-bottom: 0;
}

.top-nav .nav-item {
  flex-grow: 1;
  text-align: center;
  border-left: 1px solid #d9d9d9;
}

.top-nav .nav-link {
  padding: 0;
  color: #000;
  font-size: 19px;
  font-weight: 700;
}

.top-nav li:first-of-type,
.top-nav li:last-of-type {
  border: none;
}

.search {
  margin-right: 20px;
  color: rgba(0, 0, 0, .55) !important;
}

.btm-nav {
  font-weight: 700;
  border-top: 1px solid #f4f5f6;
  border-bottom: 1px solid #f4f5f6;
}

.btm-nav .nav-link {
  padding: 8px 10px;
  color: #807f84;
}

main {
  padding: 0 10px;
  border-bottom: 2px solid #f4f5f6;
}

h2,
h3 {
  font-weight: 700;
}

h2 {
  color: rgba(3, 3, 3, 0.4);
  font-size: inherit;
}

h3 {
  margin-top: 3px;
  font-size: 17px;
}

article {
  margin: 15px 0;
}

.left-col article {
  /* margin: 25px 0; */
}

.left-col .lg-headline,
.right-col .card-title {
  font-size: 24px;
}

.left-col p,
.mid-col p,
.right-col .card-text {
  font-size: 15px;
}

.left-col .sm-headline {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.text-on-img p,
.card-img-overlay,
.gray-txt-on-img {
  bottom: 0;
  left: 0;
  z-index: 1;
  margin-bottom: 0;
  padding: 8px;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.9);
}

.text-on-img p,
.card-img-overlay {
  color: #3581f4;
}

.mid-col .lg-headline {
  font-size: 22px;
}

.gray-headline {
  margin-top: 10px;
  color: rgba(3, 3, 3, 0.5);
  font-size: 16px;
}

.mid-col .d-flex {
  padding-top: 15px;
  border-top: 1px solid #e6e6e6;
}

.img-left {
  height: 95px;
  width: 95px;
  margin-right: 7px;
}

.right-col p {
  font-size: 14px;
}

.right-col .d-flex {
  border-bottom: 1px solid #d9d9d9; 
}

.right-col .d-flex img {
  height: 63px;
  width: 63px;
  margin-right: 7px;
}

.right-col .d-flex p {
  color: #555;
  font-weight: 700;
}

.debate {
  margin-bottom: 15px;
  border-top: 3px solid #d9d9d9;
  border-bottom: 3px solid #d9d9d9;
}

.debate p,
.debate h3 {
  margin: 0;
}

.debate1,
.debate2 {
  height: 108px;
  margin: 0;
  align-items: center;
}

.debate1 {
  margin-bottom: 0.5px;
  border-bottom: 1px solid #d9d9d9;
}

.debate2 {
  margin-top: 0.5px;
  border-top: 1px solid #d9d9d9;
}

.vs {
  top: 96px;
  right: 50%;
  z-index: 1;
  width: 25px;
  height: 25px;
  padding-top: 2px;
  color:  #d6d6d6;
  text-align: center;
  border-radius: 50%;
  background-color: #000;
}

.mid-header {
  margin-top: 30px;
  padding-bottom: 10px;
  text-align: center;
  border-bottom: 1px solid #d9d9d9;
}

.sm-logo {
  width: 29px;
  height: 28px;
  margin-right: 7px;;
  background-color: #f42;
}

.middle-section h2 {
  margin-bottom: 0;
  color: var(--dark);
  font-size: 19px;
}

.middle-section h3 {
  font-size: 22px;
}

.middle-section img {
  margin-bottom: 10px;
}

.see-features {
  padding: 5px;
  text-align: center;
  background-color: #f4f5f6;
}

.category {
  margin-right: 10px;
  padding: 3px;
  color: #fff;
  font-weight: 700;
  background-color: #f72210;
}

.topic,
.gray-txt-on-img {
  color: #f72210;
  font-weight: 700;
}

.wrapper,
.btm-section {
  margin-top: 30px;
  border-top: 1px solid #d9d9d9;
}

.middle-section2 h2 {
  margin: 10px 0 0 15px;
  color: #f72210;
  font-size: 22px;
}

.left-2 h3 {
  margin-top: 10px;
  font-size: 22px;
}

.btm-section {
  padding-bottom: 20px;
}

.btm-section h2 {
  margin-top: 20px;
  color: #f72210;
}

.btm-section h3 {
  font-size: 24px;
}

.btm-section p {
  font-family: Helvetica, sans-serif;
  font-weight: 200;
  font-size: 15px;
}

.btm-section img {
  padding: 0;
  width: 170px;
  object-fit: cover;
}

.btm-section button {
  margin-top: 10px;
  padding: 11px;
  color: #fff;
  font-weight: 700;
  background-color: #f72210;
  border: none;
  border-radius: 4px;
}

.subscribe-card {
  padding: 30px;
  background-color: #f4f5f6;
  border: none;
}

.sign-up-card .card-body {
  width: 50%;
}

footer {
  margin-top: 20px;
  color: #666;
}

.top-footer {
  margin-bottom: 15px;
  padding: 15px;
  border-bottom: 1px solid #d9d9d9;
}

.ftr-logo {
  width: 236px;
  fill: #f72210;
}

.top-footer p,
.top-footer ul {
  margin: 0 10px;
}

.copyright {
  padding-left: 10px;
  font-size: 13px;
}

footer .fab {
  padding: 0 5px;
  font-size: 28px;
}

.footer-links {
  padding: 0 15px;
  font-size: 14px;
  font-family: Helvetica, sans-serif;
}

.footer-links p {
  margin: 6px 15px 6px 0;
  font-weight: 700;
}

.footer-links ul {
  padding: 0;
  margin-bottom: 0;
}

.footer-links li {
  padding-right: 10px;
  margin: 6px 10px 6px 0;
  border-right: 1px solid rgb(217, 217, 217);
}

.footer-links li:last-of-type {
  border: none;
}

@media screen and (max-width: 768px) {
  .footer-links li {
      border: none;
  }
}